{% extends "network/layout.html" %}

{% block body %}
  <h2>All Posts</h2>
  {% if user.is_authenticated %}
    <div class="postbox">
      <form method="POST" action="{% url 'post' %}">
        {% csrf_token %}
        {{ postform }}
        <button class="btn btn-outline-warning">Post</button>
      </form>
    </div>
  {% endif %}
  {% for post in posts %}
    <div class="postbox">
      {{ post.poster }}<br>
      {{ post.content }}<br>
      {{ post.posted }}<br>
      {{ post.likecount }} {% if likecount == 1 %}Like{% else %}Likes{% endif %}
    </div>
  {% endfor %}
{% endblock %}
