.body {
  margin: 5px;
}

.postbox {
  padding: 7px;
  margin-bottom: 3px;
  min-height: 100px;
  min-width: 300px;
  max-width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

#newposttext {
  rows: 2;
  min-height: 3em;
  height: 3em;
  width: 100%;
}

.editpost {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}
.editpost:hover {
  cursor: pointer;
}

.postcontent {

}

.posttime, .postlikes, .postcomment {
  color: #A9A9A9;
}

.likeicon:hover {
  cursor: pointer;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}
